* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
p {
  background-color: #e4f0e0;
}

h1 {
  padding: 50px;
  border-bottom: 1px solid #7e9fbe;
}

p {
  padding: 20px 0 20px 10px;
  margin-bottom: 50px;
  margin-top: 25px;
}

strong {
  margin: 50px;
}

div {
  padding: 10px 20px;
  margin: 20px auto;
  text-align: center;
  background-color: #c58ca9;
  width: 200px;
  box-sizing: border-box;
}
